*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background:#08131f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

 header {
  position:sticky;
  padding: 20px 0px;
  background: #08131f;
  
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  margin-top: 25px;
}

.logo {
  color: #fff;
  font-size: 35px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
    transition: 0.4s;

  }

.nav_link {
  color: #fff;
  text-decoration: none;
   font-size: 20px;
  transition: 0.4s;
}
.nav_link::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color:rgb(15, 215, 218);
  display: block;
  transition: 0.4s;
}
.nav_link:hover{
    color:rgb(15, 215, 218);
    transition: 0.4s;
}
.nav_link:hover::after{
  width: 100%;
  color: #fff;
}
.sect-card{
    height: 500px;
    display: flex;
    align-items: center;
}
.box{
    margin-left: 170px;
    display: flex;
    gap: 50px;
    
    
}  
.card{ 
    margin-top: 100px;
    width: 350px;
    height: 450px;
    background-color:#1d1f22;
    /* padding-bottom: 50px; */
    border-radius:20px ;
    transition: 0.4s;
}
.card img{
    width: 100%;
    border-radius: 15px;
    display: flex;

}
.card h3{
    padding: 20px 15px;
    color:#8f8282;
}
button{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid red;
    padding: 5px 20px;
    border-radius: 20px;
    color: red;
    background-color: transparent;
    margin: 50px 15px 0px;
}
button:hover{
  box-shadow: 0 0 2px rgb(19, 41, 108);
}
.card a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 10px 70px;
    border-radius: 20px;
    display: flex;
    width: 100px;
    margin: 20px 15px 0px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.card a:hover{
    background-color:rgb(149, 28, 28) ;
    box-shadow: 0 0 5px rgb(255, 0, 0);
}
.card:hover{
    box-shadow: 0 0 20px #ff0000;
    transform: scale(1.1);
}
h2{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ozm{
  margin-top:100px;
}
.hero {
  display: flex;
  align-items: center;
  /* width: 800px; */
  margin: 50px 160px;
}

.hero-wrapper {
  width: 800px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  padding-left:  60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-img {
  position: relative;
  top: 60px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow:0 0 15px #ff0000;
}


.card_box{
width: 725px;
/* margin-top: 0px; */
padding-top: 0px ;
padding-bottom: 25px;
display: flex;
justify-content: center;
gap: 20px;
}
.box_card{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 250px;
  border: 2px solid red;
  padding: 20px 20px;
  border-radius: 15px;
 transition: 0.2s;
}
.box_card:hover{
  box-shadow: 0 0 20px rgb(165, 11, 11);
   background-color: rgba(255, 0, 0, 0.108) ;
   transform: translateY(-20px);
}
span{
  display: flex;
  text-decoration: underline;
  text-underline-offset:8px ;  
  color:red;
  font-size: 20px;
}
.matn{
  padding: 20px 0px ;
}


.footer-box{
    margin-top: 150px;
  padding: 0px 160px;
}
.footer_div{
  padding: 40px  30px;
  background: #08131f;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  

}
.footer_div h3{
  font-size: 25px;
}
.footer-div-img{
  background-color: #08131f;
  color: #08131f;
}
.footer-div-img {
 
  background-color: #08131f;
  display: flex;
  justify-content: space-between;
  
}

.footer-div-img {
    display: flex;
    gap: 30px;

  }

.footer-div-img a {
    display: block; 
   border-radius: 50%;
          
}

.footer-div-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
