 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

body{
    background:#08131f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

 header {
  position:sticky;
  padding: 20px 0px;
  height: 100vh;
  background: #08131f;
  
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  margin-top: 25px;
}

.logo {
  color: #fff;
  font-size: 35px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
    transition: 0.4s;

  }

.nav_link {
  color: #fff;
  text-decoration: none;
   font-size: 20px;
  transition: 0.4s;
}
.nav_link::after{
  content: "";
  width: 0%;
  height: 2px;
  background-color:rgb(15, 215, 218);
  display: block;
  transition: 0.4s;
}
.nav_link:hover::after{
  width: 100%;
  color: white;
 
}
.nav_a {
   padding: 10px 15px;
  border: none;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #fff;
  font-size: 20px;
  color: white;
  background:transparent ;
 
}
.nav_a:hover{
  border: 2px solid rgb(15, 215, 218);
  transform:scale(1.1)
}

.hero-img{
    width: 450px;
    border-radius: 500px;
    margin-top: 50px;
    box-shadow: 0 0 100px blue;

}
.hero {
  display: flex;
  align-items: center;
    margin-top: 50px;

}

.hero-wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

}
.hero-title {
  color: #fff;
  font-size: 58px;
  font-weight: bold;
}

.hero-title span {
  color: #1783db;
}
.hero-text {
  color:  #a39a9a ;
  font-size: 20px;
}
span{
    color: rgb(15, 215, 218);
}
.navbar a{
    cursor: pointer;
    transition:0.4s;
}
.navbar a:hover{
    color: rgb(0, 251, 251);
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn{
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  background:rgb(15, 21, 218) ;
  cursor: pointer;
  transition: 0.3s;
  
}
.btnn{
  padding: 10px 15px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  background:transparent;
  scroll-behavior: smooth;
  /* box-shadow: 0 0 18px rgb(2, 251, 255); */
}
.btn:hover{
  /* background: rgb(7, 10, 123) ; */
  background: transparent;
  color: #c7baba;
  transition: 0.3s;
  transform: scale(1.1);
  border: 2px solid white;
}
.btnn:hover{
  background: rgb(7, 10, 123) ;
  color: #c7baba;
  transition: 0.3s;
  transform: scale(1.1);
}

 .sect-card{
    width: 850px;
    height: 250px; 
    background: rgba(255,255,255,0.04);
    border-radius: 35px;
    padding: 60px;
    font-size: 30px;
    transition: 0.4s;
    
 }
.card-box{
  margin: 200px 0px; 
  padding:20px;
  background-color: #08131f;
  display: flex;
 justify-content: center;
 
}

.div_p{
    text-align: center;
    font-size: 31px;
    color: #f0f0f0;
    
}
.sect-card:hover{  
    box-shadow: 0 0 20px rgba(39, 83, 202, 0.814);
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}
.div_p{
    font-size: 20px;
    line-height: 1.2;
}


.footer-box{
  padding: 0px 160px;
  margin-top: 150px;
}
.footer_div{
  padding: 40px  30px;
  background: #08131f;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  

}
.footer_div h3{
  font-size: 25px;
}
.footer-div-img{
  background-color: #08131f;
  color: #08131f;
}
.footer-div-img {
 
  background-color: #08131f;
  display: flex;
  justify-content: space-between;
  
}

.footer-div-img {
    display: flex;
    gap: 30px;

  }

.footer-div-img a {
    display: block; 
   border-radius: 50%;
          
}

.footer-div-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
